#sel-venta tbody tr:hover{
  cursor: pointer !important;
  background-color: #f2f2f2;
}

table thead tr{
  text-align: center;
}

table tbody tr {
  text-align: center;
}

.quantity{
  text-align: center;
  width: 60px;
}

.loader-container{
    position: relative;
    width: 100%;
    height: 90vh;
    background-color: white;
    overflow: hidden;
}

.loader-items{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.loader-items p{
    color: black;
    margin: 0 0 -15px 0;
}

.loader-items .img{
    position: relative;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    width: 2rem;
}