#home .dropdown-item.active{
  color: #212529;
  background-color: transparent;
}

#home .dropdown-item:hover, .dropdown-item:focus {
  color: #16181b;
  text-decoration: none;
  background-color: #e9ecef;
}